<header class="">
  <nav id="nav" class="navbar navbar-expand-md" role="navigation">
      <a class="navbar-brand" href="/">
        <img src='/img/asird-logo.png' alt='ASIRD logo' />
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navDropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars fa-lg"></span>
        <span>&nbsp;Menu</span>
      </button>

      <div class="collapse navbar-collapse flex-row-reverse" id="navDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link page-link" href="https://directory.asird.org">Find a Team</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link page-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/about/">About ASIRD</a>
              <a class="dropdown-item" href="/about/why-asird/">Why ASIRD?</a>
              <a class="dropdown-item" href="/about/featured-speakers/">Featured ASIRD Speakers</a>
              <a class="dropdown-item" href="/about/membership-criteria/">Membership Criteria</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link page-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dental Implants
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/dental-implants/">About Dental Implants</a>
              <a class="dropdown-item" href="/dental-implants/benefits/">Benefits of Dental Implants</a>
              <a class="dropdown-item" href="/dental-implants/what-to-expect/">What To Expect</a>
              <a class="dropdown-item" href="/dental-implants/implant-options/">Dental Implant Options</a>
              <a class="dropdown-item" href="/dental-implants/advanced-technology/">Advanced Technology</a>
              <a class="dropdown-item" href="/dental-implants/hygiene-and-maintenance/">Dental Implant Hygiene and Maintenance</a>
              <a class="dropdown-item" href="/dental-implants/patient-stories/">Patient Stories</a>
              <a class="dropdown-item" href="/dental-implants/gallery/">Before and After Gallery</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link page-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Implant Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/implant-options/">Conditions</a>
              <a class="dropdown-item" href="/implant-options/avoid-losing-all-your-teeth/">Avoid Losing All Your Teeth</a>
              <a class="dropdown-item" href="/implant-options/back-tooth-replacement/">Back Tooth Replacement</a>
              <a class="dropdown-item" href="/implant-options/failing-bridge/">Failing Bridge</a>
              <a class="dropdown-item" href="/implant-options/front-tooth-replacement/">Front Tooth Replacement</a>
              <a class="dropdown-item" href="/implant-options/non-fitting-dentures/">Non Fitting Dentures</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm btn-sign-in" href="https://app.asird.org/">Sign In</a>
          </li>
        </ul>
      </div>
  </nav>

</header>
