<!-- Brand and toggle grouped for mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle btn-transparent" data-toggle="collapse" data-target=".navbar-1-collapse" href="#">
    <span class="sr-only">Toggle navigation</span>
    <span class="fa fa-bars fa-lg"></span>
    <span>&nbsp;Menu</span>
  </button>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-1-collapse">
  <ul class="nav navbar-nav">
        <li>
          <a class="page-link" href="/services/">Agency Services <i class='fa fa-caret-down'></i></a>
          <ul>
            <li><a href="/services/#websites">Software Development</a></li>
            <li><a href="/backend-services/">Fixed Fee Audits</a></li>
            <li><a href="/services/#mvpdevelopment">MVP In-a-box</a></li>
            <li><a href="/services/#team-augmentation">Team Augmentation</a></li>
          </ul>
        </li>
        <li>
          <a class="page-link" href="/portfolio/">Portfolio</a>
        </li>
        <li>
          <a class="page-link" href="/pricing/">Pricing</a>
        </li>
        <li>
          <a class="page-link" href="/about/">About</a>
        </li>
        <li>
          <a class="page-link" href="/contact/">Contact</a>
        </li>
  </ul>
</div><!-- /.navbar-collapse -->
